__pycache__/
*.py[cod]
.venv/
venv/
env/

outputs/panoramas/*
outputs/visualizations/*
outputs/metrics.csv
!outputs/panoramas/.gitkeep
!outputs/visualizations/.gitkeep

data/*
!data/.gitkeep
!data/set1/
!data/set1/*.jpg
!data/set2/
!data/set2/*.jpg
!data/set3/
!data/set3/*.jpg
